:root {
  --bg: #0E0C09;
  --bg2: #14110C;
  --vig: rgba(0,0,0,.52);
  --c: #5A3A25;
  --o: #FF9F45;
  --s: #E8D8C0;
  --ok: #2CD67C;
  --tx: #FFFFFF;
  --m: rgba(255,255,255,.85);
  --f: rgba(255,255,255,.60);
  --gl: rgba(30,25,20,.65);
  --gs: rgba(30,25,20,.85);
  --b: rgba(255,255,255,.15);
  --bs: rgba(255,255,255,.25);
  --ease-ios: cubic-bezier(0.32, 0.72, 0, 1);
}
